<nz-card nzHoverable nzTitle="Forgot Password" style="border-top: 3px solid #40A9FF; border-radius: 5px;">
    <form nz-form [formGroup]="forgotPasswordForm" class="forgot-password-form" (ngSubmit)="submitForgotPasswordForm()">
        <nz-form-item>
            <nz-form-control [nzErrorTip]="emailErrorTpl" nzHasFeedback>
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="email" placeholder="Username" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button type="submit" nz-button class="forgot-password-form-button" [nzType]="'primary'">Submit</button>
        Or
        <a routerLink="/login">login now!</a>
    </form>
</nz-card>


<ng-template #emailErrorTpl let-control>
    <ng-container *ngIf="control.hasError('required')">Please enter email!</ng-container>
    <ng-container *ngIf="control.hasError('email')">
        Please enter valid email!
    </ng-container>
</ng-template>